body {
  background-color: #252525;
}

main {
  background:linear-gradient( 
  135deg,
  #252525 0%, #061d27 25%, #09213a 50%, #10489e 75%, #005794 100%);
}

/* .titulo */
h1 {
  font-size: 4rem;
  margin: 5rem 0 1rem 0;
  color: #fff;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 700;
}
.portada {
  width: 100%;
}
.portada img {
  display: block;
  margin: auto;
  justify-content: center;
  width: 93%;
  height: auto;
}

/* descripción */
.descripcion_post {
  display: block;
  margin: 0 auto;
  width: 93%;
  font-family: 'Raleway', sans-serif;
  color: rgb(75, 75, 75);
  font-size: .96rem;
  font-weight: 580;
}

/* botones */
.container_boton {
  width: 93%;
  margin: auto;
}
.boton-post {
  border: 2px solid #11E9A4;
  color: #11E9A4;
  padding: .5em 1em;
}
.boton-post:hover {
  color:#fff;
  border: 2px solid #11E9A4;
  background: linear-gradient(232.5deg, #11E9A4 0%, #3FC89D 25%, #26C9CF 50%, #1584D3 75%, #1554D3 100%);    
}

